.CompanyInfo{
    height: 80vh;
}

.companyMain{
    height: 200vh;
    position: relative;
}

.msg{
    position: relative;
    top: 30vh;
    left: 40%;
}
.list{
    position: relative;
    top: 100vh
}