
  <div class="container mt-5 mb-5">
  <div class="row justify-content-md-center">
    <mdb-card style="background: mediumslateblue;">
    <mdb-card-body>
    <div class="card border-primary mb-3" style="max-width: 30rem;">
      <div class="card-header"><h4>LOGIN</h4></div>
      <div class="card-body text-primary">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">

          <div class="input-group mb-3">
              
                  <label class="input-group-text">User Type</label>
                  <select class="form-select" formControlName="type">
                    <option value="client">
                      Client
                    </option>
                    <option value="company">
                      Company
                    </option>
                  </select>
          </div>  
          <div class="mb-3">
            <label for="email" class="form-label">
              Email
            </label>
            <input id="email" type="email" class="form-control" formControlName="email">
          </div>
        
          <div class="mb-3">
            <label for="password" class="form-label">
              Password
            </label>
            <input id="password" type="password" class="form-control" formControlName="password">
          </div>
        
          <button class="btn btn-primary" type="submit">Login</button>
        
        </form>
        {{user}}
        <span style="color: black;">If you don't have an account, please <a routerLink="/signup" href="" >sign up</a> </span>
      </div>
    </div>
    </mdb-card-body>
  </mdb-card>
    </div>
  </div>

