<div [className]="'inputField'">
    <!-- Container to div -->
    <div [className]="'inputs'">
        <!-- Image to img -->
      <img src={{company.imgUrlCompany}}/>
      <p>Name: {{company.name}}</p>
      <p>Email adress: {{company.emailCompany}}</p>
      <p>Phone number: {{company.phoneNumberCompany}}</p>
      <h3>Add an event</h3>
      <!-- form label to h2 -->
      <h2>Event Name</h2>
      <!-- form controle to input -->
      <input
        name="name"
        placeholder="name"
        (change)="handleChange1($event)"
      />
      <!-- form label to h2 -->
      <h2>Event Type</h2>
      <!-- form controle to input -->
      <input
        name="type"
        placeholder="type"
        (change)="handleChange2($event)"
      />
      <!-- form label to h2 -->
      <h2>Event Place</h2>
      <!-- form controle to input -->
      <input
        name="place"
        placeholder="place"
        (change)="handleChange3($event)"
      />
      <!-- form label to h2 -->
      <h2>Event Date</h2>
      <!-- From control to input -->
      <input
        name="date"
        placeholder="date"
        (change)="handleChange4($event)"
      />
      <!-- form label to h2 -->
      <h2> Event Description </h2>
      <!-- form controle to input -->
      <input
        name="description"
        placeholder="description"
        (Change)="handleChange5($event)"
      />
      <!-- form label to h2 -->
      <h2>Event Image</h2>
      <!-- form controle to input -->
      <input
        name="imgUrl"
        placeholder="imgUrl"
        (change)="handleChange6($event)"
      />
      <button (click)="addEvent($event)">
        Submit
      </button>
    </div>
  </div>
