<div *ngIf="listCondition==='user'">
  <div class="event" *ngFor="let event of events index as eventId">
    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-8">
          <img src="{{event.imgUrl}}" class="card-img" style="max-height: 500px;" alt="{{event.name}}">
        </div>
        <div class="col-md-4">
          <div class="card-body" >
            <div class="event-description">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">Type: {{event.type}}</p>
            <p class="card-text">Place: {{event.place}}</p>
            <p class="card-text">Date: {{event.date}}</p>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">Price: {{event.price}} DT</p>
            <p class="card-text" *ngIf="event.seats>0" > Seats remain: {{event.seats}}</p>
          </div>
            <div style="position: absolute;left:30px;bottom: 20px;" >
              <button type="button" class="btn btn-outline-primary" style="margin-left: 10px;margin-right: 10px;"
                (click)="addLike(event,eventId)">
                Recommended: {{event.like}}
              </button>
              <button type="button" class="btn btn-outline-primary" (click)="addDisLike(event,eventId)">
                Not Recommended: {{event.disLike}}
              </button>
              <button type="button" class="btn btn-outline-primary" style="margin-left: 10px;" *ngIf="event.seats>0"
                (click)="participate(event)">
                Participate
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="listCondition==='home'">
  <div style="padding:1cm">
  <h1 style="border-bottom: 3px solid black;margin-bottom:1cm">Sport</h1>
  <div class="row row-cols-1 row-cols-md-2" >
    <div class="col mb-4" *ngFor="let event of sports let i=index index as eventId">
      <div class="card" *ngIf="event.type == 'sport'&& i < 3">
        <img src="{{event.imgUrl}}" class="card-img-top" style="max-height: 6cm;" alt="{{event.name}}">
        <div class="card-body">
          <div class="event-description">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<div style="padding:1cm">
  <h1 style="border-bottom: 3px solid black;margin-bottom:1cm">Trip</h1>
  <div class="row row-cols-1 row-cols-md-2" >
    <div class="col mb-4" *ngFor="let event of trips let i=index index as eventId">
      <div class="card" *ngIf="event.type === 'trip'&& i < 3">
        <img src="{{event.imgUrl}}" class="card-img-top" style="max-height: 6cm;" alt="{{event.name}}">
        <div class="card-body">
          <div class="event-description">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
<div style="padding:1cm">
  <h1 style="border-bottom: 3px solid black;margin-bottom:1cm">Culture</h1>
  <div class="row row-cols-1 row-cols-md-2" >
    <div class="col mb-4" *ngFor="let event of culture let i=index index as eventId">
      <div class="card" *ngIf="event.type === 'culture'&& i < 3">
        <img src="{{event.imgUrl}}" class="card-img-top" style="max-height: 6cm;" alt="{{event.name}}">
        <div class="card-body">
          <div class="event-description">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
</div>