.login{
     position: absolute;
    left: 93%;
    font-size: 25px;
}
.shoping{
    position: absolute;
    left: 87% ;
}
.form-inline{
    position: absolute;
    left: 38.4%;
}
.btn-outline-success {
    background-color: transparent!important;
    border: 2px solid #dfe4e1!important;
    color: #dfe4e1!important;
    pointer-events: none;  
       
}
.home{
    font-size: 25px;
}

.logo {
    margin-top: -20px;
    width: 100px;
  }