<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">about us:</h5>
        <p class="create">ALL-INCLUSIVE:<br>is a website to collaborate services between companies and particulars<br> and offer them the possibility to join an event of their choice<br>HAVE FUN</p>
        <br><br>
        <h5 class="text-uppercase">following us:</h5>
        <a href="#!" class="fa fa-facebook"></a>
        <a href="#!" class="fa fa-instagram"></a>
        <a href="#!" class="fa fa-twitter"></a>  

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">create an account:</h5>

          <ul class="list-unstyled">
            <li>
              <a class="create" href="#!" routerLink="signup">CLIENT</a>
            </li>
            <li>
              <a class="create" href="#!" routerLink="signup">COMPANY</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">contact us:</h5>

          <ul class="list-unstyled">
            <li>
              <p class="contact" href="#!">ph:+216</p>
            </li>
            <li>
              <p class="contact">Email:<a class="contact" href="#!">ALL-inclusive@gmail.com</a></p>
            </li>
            <li>
              <p class="contact" href="#!">Address:</p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="git" href="https://github.com/legacy-project-team6/all-inclusive-v2.git" alt="blank"> All-Inclusive github</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



