<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-6 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase" style="border-bottom: 2px solid darkorchid; display: inline-block; padding-bottom: 4px;">about us</h5>
        <p class="create">ALL-INCLUSIVE:<br>is a website to collaborate services between companies and particulars<br> and offer them the possibility to join an event of their choice<br>HAVE FUN</p>
        <span class="text-uppercase h5">follow us</span>
        <a href="#!" class="fa fa-facebook white-text"></a>
        <a href="#!" class="fa fa-instagram white-text"></a>
        <a href="#!" class="fa fa-twitter white-text"></a>  

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-3 mt-3">

          <!-- Links -->
          <h5 class="text-uppercase" style="border-bottom: 2px solid darkorchid; display: inline-block; padding-bottom: 4px;">create an account</h5>
          

          <ul class="list-unstyled">
            <li>
              <a class="create" href="#!" routerLink="signup">CLIENT</a>
            </li>
            <li>
              <a class="create" href="#!" routerLink="signup">COMPANY</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-3 mt-3">

          <!-- Links -->
          <h5 class="text-uppercase" style="border-bottom: 2px solid darkorchid; display: inline-block; padding-bottom: 4px;">contact us</h5>

          <ul class="list-unstyled">
            <li>
              <p class="contact" href="#!">ph:+216</p>
            </li>
            <li>
              <p class="contact">Email:<a class="contact" href="#!">ALL-inclusive@gmail.com</a></p>
            </li>
            <li>
              <p class="contact" href="#!">Address:</p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="" href="https://github.com/legacy-project-team6/all-inclusive-v2.git" alt="blank"> All-Inclusive github</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



