<div class="event" *ngFor="let event of favorites index as eventId">
  <div class="card mb-3" id="{{eventId}}">
    <div class="row no-gutters">
      <div class="col-md-8">
        <img src="{{event.imgUrl}}" class="card-img" style="max-height: 500px;" alt="{{event.name}}">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <div class="event-description">
            <h5 class="card-title">{{event.name}}</h5>
            <p class="card-text">Type: {{event.type}}</p>
            <p class="card-text">Place: {{event.place}}</p>
            <p class="card-text">Date: {{event.date}}</p>
            <p class="card-text">{{event.description}}</p>
            <p class="card-text">Price: {{event.price}} DT</p>
            <p class="card-text" *ngIf="registration==='reserve'" > Seats remain: {{event.seats}}</p>
            <p class="card-text" *ngIf="registration==='confirm'&&specificEvent== eventId"> Seats remain: {{[event.seats]-[value]}}</p>
            <input type="number" placeholder="Number of reservations" ng-value="event"
             (click)="clickedInput(eventId)" [ngModel]="event.name" (ngModelChange)="modelChangeFn($event)" (ngModelChange)="modelChange($event)" *ngIf="registration==='reserve'">
            <p *ngIf="specificEvent== eventId">Total price of reservation(s): {{total*event.price}}</p>
            <div *ngIf="(registration==='confirm'&& specificEvent== eventId)">
              <p class="card-text" >{{value}} Seat(s) has been reserved for you</p>
            </div>
          </div>
          <div>
            <button id={{eventId}} type="button" class="btn btn-outline-primary" style="margin-left: 10px;margin-right: 50px;"
              *ngIf="registration==='reserve' || specificEvent!= eventId" (click)="caculTotal(event.seats,eventId)">
              Reserve
            </button>
            <button id={{eventId}} type="button" class="btn btn-outline-primary" style="margin-left: 10px;margin-right: 50px;"
              *ngIf="registration==='confirm'&&specificEvent== eventId" (click)="confirm(event, eventId)">
              Confirm
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="reject(eventId)">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
