<div>
    <!-- container to div -->
    <div>
        <!-- row to div -->
       <div>
   <div>
<div>

<div>
<h4>All Inclusive team </h4>

<div>
    <div> 
        
        <!-- <center> -->
            <p >Contact us via our green number 100200300</p>
        <!-- </center> -->
    </div>
    <div><img src="https://files.slack.com/files-pri/T0178VC0Y48-F01DEPKEKM1/ed79ddcc-fcab-44a3-b050-d54cdffa159c_200x200.png" width="100" class="img1" /></div>
</div>


</div>
<nav> 
<input type="text number" name="text" placeholder="Write a message"/>

<button type="button" >Send</button>
</nav>
</div>
</div> 
<!-- row to div -->
</div> 
<!-- container to div -->
</div>
</div>
